@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  background: #fff;
}
body .modalWindow_container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6078431373);
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
body .modalWindow_container .window {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 12px 15px 5px rgba(34, 60, 80, 0.2);
  border-radius: 4px;
  border: 1px solid #36a4a4;
  width: 50%;
}
body .modalWindow_container .window header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #36a4a4;
  padding: 5px 10px;
}
body .modalWindow_container .window header button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
body .modalWindow_container .window header button img {
  width: 30px;
}
body .modalWindow_container .window .window_main_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 15px 15px;
}
body .modalWindow_container .window .window_main_info #empty {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.2);
  color: #fff;
}
body .modalWindow_container .window .window_main_info .card_name {
  background-color: transparent;
  color: #6c757d;
  border: 1px solid #36a4a4;
  border-radius: 4px;
  font-weight: 600;
  padding: 8px 14px;
  word-wrap: anywhere;
  word-break: break-all;
  overflow-y: auto;
  transition: 0.3s;
  max-height: 70px;
}
body .modalWindow_container .window .window_main_info .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}
body .modalWindow_container .window .window_main_info .options button {
  text-transform: uppercase;
  font-size: 0.7rem;
  background-color: #36a4a4;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 1em;
  padding: 0.7rem 1.6rem;
  cursor: pointer;
}
body .modalWindow_container .window .window_main_info .options #delete_card {
  border: 1px solid #d7362e;
  background-color: #ffd3d3;
}
@media screen and (max-width: 1000px) {
  body .modalWindow_container .window {
    width: 80%;
  }
}
body .content__list {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  height: 95vh;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
body .content__list .columns__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  gap: 10px;
  list-style: none;
}
body .content__list .columns__list .column__item {
  position: relative;
  height: 100%;
}
body .content__list .columns__list .column__item .column__item__core {
  transition: background-color 0.5s;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 250px;
  max-width: 250px;
  height: -moz-fit-content;
  height: fit-content;
  transition: background-color 0.5s;
  cursor: move;
  background-color: transparent;
  color: whitesmoke;
  text-align: left;
  padding: 0;
  border: 1px solid #36a4a4;
  border-radius: 4px 4px 0 0;
  word-wrap: anywhere;
  word-break: break-all;
}
body .content__list .columns__list .column__item .column__item__core .column__header {
  background-color: #36a4a4;
  padding: 7px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .content__list .columns__list .column__item .column__item__core .column__header input {
  background: #f3f3f3;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 25px;
  color: #6a6a6a;
  font-size: 16px;
}
body .content__list .columns__list .column__item .column__item__core .column__header .menu__button {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 25px;
}
body .content__list .columns__list .column__item .column__item__core .column__header .menu__button .menu-icon {
  display: flex;
  gap: 4px;
}
body .content__list .columns__list .column__item .column__item__core .column__header .menu__button .menu-icon .circle {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 100px;
}
body .content__list .columns__list .column__item .column__item__core .column__content {
  padding: 10px 12px;
}
body .content__list .columns__list .column__item .column__item__core .column__content .cards__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 65vh;
}
body .content__list .columns__list .column__item .column__item__core .column__content .cards__list .card__item {
  position: relative;
  list-style-type: none;
  background-color: transparent;
  color: #6c757d;
  font-weight: 600;
  border: 1px solid #36a4a4;
  border-radius: 4px;
  padding: 8px 14px;
}
body .content__list .columns__list .column__item .column__item__core .column__content .cards__list .card__item .card__button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 8px;
  border-radius: 100px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
body .content__list .columns__list .column__item .column__item__core .column__content .cards__list .card__item .card__button img {
  width: 16px;
}
body .content__list .columns__list .column__item .column__item__core .column__content .cards__list .card__item .card__button:hover {
  background-color: rgba(240, 240, 240, 0.7568627451);
}
@media screen and (max-width: 900px) {
  body .content__list .columns__list .column__item .column__item__core .column__content .cards__list .card__item .card__button {
    display: block;
  }
}
body .content__list .columns__list .column__item .column__item__core .column__content .cards__list .card__item:hover .card__button {
  display: block;
}
body .content__list .columns__list .column__item .column__item__core .column__content .add__cards__button {
  background-color: #36a4a4;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
}
body .content__list .columns__list .column__item .window__elem {
  position: absolute;
  display: none;
  gap: 10px;
  flex-direction: column;
  width: auto;
  padding: 8px;
  top: 5px;
  right: 5px;
  background-color: #fff;
  box-shadow: 0px 12px 15px 5px rgba(34, 60, 80, 0.2);
  border-radius: 4px;
  z-index: 1;
}
body .content__list .columns__list .column__item .window__elem #delete {
  background-color: #d12c2c;
  color: #fffcfc;
}
body .content__list .columns__list .column__item .window__elem .buttonStyle {
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  padding: 8px;
  width: 143px;
  border: none;
  border-radius: 4px;
  color: #6a6a6a;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
}
body .content__list .columns__list .column__item .window__elem .buttonStyle:hover {
  background-color: #f0f0f0;
}
@media screen and (max-width: 900px) {
  body .content__list .columns__list .column__item {
    height: -moz-fit-content;
    height: fit-content;
  }
}
body .content__list .add_column {
  transition: background-color 0.5s;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 250px;
  max-width: none;
  height: -moz-fit-content;
  height: fit-content;
  transition: background-color 0.5s;
  min-width: 250px;
  color: whitesmoke;
  border-radius: 4px;
  cursor: pointer;
  background-color: #36a4a4;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-wrap: nowrap;
}
@media screen and (max-width: 900px) {
  body .content__list .add_column {
    transition: background-color 0.5s;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 190px;
    max-width: none;
    height: -moz-fit-content;
    height: fit-content;
    transition: background-color 0.5s;
    min-width: 190px;
  }
}

form {
  display: none;
  flex-direction: column;
  gap: 7px;
}
form input {
  background: #f3f3f3;
  border: none;
  border-radius: 4px;
  outline: none;
  height: 35px;
  color: #6a6a6a;
  font-size: 16px;
}
form .form-options {
  display: flex;
  gap: 10px;
}
form .form-options #cancel {
  font-size: 14px;
  padding: 7px;
  cursor: pointer;
}
form .form-options #submit {
  border: none;
  border-radius: 4px;
  background-color: #f3f3f3;
  color: #6a6a6a;
  padding: 7px 15px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  cursor: pointer;
}

.selected,
.choosen {
  opacity: 0.6;
}/*# sourceMappingURL=style.css.map */