body {
    font-family: "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 25px;

    color: #818181;

    background-color: #1c1e1f;
}

.tasks__title {
    margin: 50px 0 20px 0;

    text-align: center;
    text-transform: uppercase;
}

.tasks__list {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: left;
    gap: 10px;

    list-style: none;
}

.list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    height: 70vh;
}

.tasks__item,
.add_item {
    transition: background-color 0.5s;
    margin-bottom: 10px;
    padding: 5px;

    padding: 8px 16px;

    font-size: 16px;
    text-align: left;

    width: auto;
    min-width: 200px;
    height: fit-content;

    transition: background-color 0.5s;
}

.tasks__item {
    border-radius: 10px;
    cursor: move;
    background-color: #767676c2;
    color: whitesmoke;
}

.add_item {
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4d4d4dbd;

    user-select: none
}

.selected {
    opacity: 0.6;
}



.goals__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 15px;
    padding: 0;
}

.goals__item {
    list-style-type: none;
    border-radius: 6px;
    background-color: #2a2a2abd;
    padding: 4px 8px;
}