@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$background: #fff;
$main-color: #36a4a4;
$font-color: #fff;
$goal-font-color: #6c757d;
$grey-font-color: #6a6a6a;

@mixin itemStyle($width, $maxWidth) {
    transition: background-color 0.5s;
    margin-bottom: 10px;
    padding: 5px;

    border-radius: 4px;

    padding: 10px;

    font-size: 16px;
    font-weight: 600;

    width: $width;
    max-width: $maxWidth;

    height: fit-content;

    transition: background-color 0.5s;
}

@mixin infoCard {
    background-color: transparent;
    color: #6c757d;

    border: 1px solid #36a4a4;
    border-radius: 4px;

    font-weight: 600;

    padding: 8px 14px;

    word-wrap: anywhere;
    word-break: break-all;

    outline: none;

    overflow-y: auto;

    transition: 0.3s;

    max-height: 70px;
}

@mixin btnStyle {
    position: absolute;
    top: 5px;
    right: 5px;

    padding: 3px 5px;
    border-radius: 100px;
    border: none;

    background-color: transparent;

    cursor: pointer;
}

// изменение прозрачности выбранной колонки и карточки (для перемещения) (.sortable-chosen является предустановленным классом SelectedJS)
.sortable-chosen {
    opacity: 0.5;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 25px;

    margin: 0 auto;
    padding: 0;

    color: $font-color;

    background: $background;

    position: relative;

    .modalWindow_container {
        // display: none;
        display: flex;

        height: 100vh;
        width: 100vw;

        background-color: #0000009b;

        position: fixed;
        top: 0;
        left: 0;

        justify-content: center;
        align-items: center;

        z-index: 1;

        .window {
            position: relative;

            background-color: #fff;
            box-shadow: 0px 12px 15px 5px rgba(34, 60, 80, 0.2);
            border-radius: 4px;

            border: 1px solid $main-color;

            width: 50%;

            header {
                display: flex;
                // justify-content: right;
                justify-content: space-between;
                align-items: center;

                background-color: $main-color;
                padding: 5px 10px;

                button {
                    background: transparent;
                    border: none;
                    padding: 0;

                    cursor: pointer;

                    img {
                        width: 30px;
                    }
                }
            }

            .window_main_info {
                display: flex;
                flex-direction: column;
                gap: 10px;

                padding: 20px 15px 15px;

                #empty {
                    border-color: red;
                    background-color: rgba(255, 0, 0, 0.2);
                    color: #495057;
                }

                .card_name {
                    @include infoCard();
                }

                .options {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    gap: 15px;

                    button {
                        text-transform: uppercase;
                        font-size: 0.7rem;

                        background-color: $main-color;
                        color: #fff;
                        box-shadow:
                            0 2px 5px 0 rgba(0, 0, 0, 0.16),
                            0 2px 10px 0 rgba(0, 0, 0, 0.12);
                        border: none;

                        border-radius: 1em;

                        padding: 0.7rem 1.6rem;

                        cursor: pointer;
                    }

                    #delete_card {
                        border: 1px solid #e72b3d;
                        background-color: #dc3545;
                    }
                }
            }

            @media screen and (max-width: 1000px) {
                width: 95%;
            }
        }
    }

    .content__list {
        display: flex;
        overflow-x: auto;
        gap: 10px;

        // height: 100vh;
        height: 95vh;

        // margin-top: 20px;
        padding-top: 50px;

        padding-left: 30px;
        padding-right: 30px;

        .columns__list {
            margin: 0;
            padding: 0;

            display: flex;
            justify-content: left;
            gap: 10px;

            list-style: none;

            .column__item {
                position: relative;

                user-select: none;

                height: 100%;

                .column__item__core {
                    @include itemStyle(250px, 250px);

                    // cursor: move;
                    background-color: transparent;
                    color: whitesmoke;
                    text-align: left;

                    padding: 0;

                    border: 1px solid $main-color;

                    border-radius: 4px 4px 0 0;

                    word-wrap: anywhere;
                    word-break: break-all;

                    .column__header {
                        background-color: $main-color;
                        padding: 7px 13px;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        input {
                            background: #f3f3f3;

                            border: none;
                            border-radius: 4px;

                            outline: none;

                            width: 100%;
                            height: 25px;

                            color: $grey-font-color;
                            font-size: 16px;
                        }

                        // кнопка меню для колонки
                        .menu__button {
                            background: transparent;
                            border: none;

                            cursor: pointer;

                            height: 25px;

                            .menu-icon {
                                display: flex;
                                gap: 4px;

                                .circle {
                                    width: 5px;
                                    height: 5px;
                                    background-color: #fff;
                                    border-radius: 100px;
                                }
                            }
                        }
                    }

                    .column__content {
                        padding: 10px 12px;

                        .cards__list {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            margin-bottom: 10px;
                            padding: 5px 0;

                            overflow-y: auto;
                            overflow-x: hidden;

                            max-height: 70vh;

                            .card__item {
                                position: relative;

                                list-style-type: none;

                                background-color: transparent;
                                color: $goal-font-color;

                                font-weight: 600;

                                border: 1px solid $main-color;
                                border-radius: 4px;

                                padding: 8px 14px;

                                .card__button {
                                    @include btnStyle();
                                    display: none;
                                    background-color: #fcfcfc;

                                    .menu-icon {
                                        display: flex;
                                        gap: 4px;
                                        padding-top: 10px;
                                        padding-bottom: 10px;


                                        .circle {
                                            width: 4px;
                                            height: 4px;
                                            background-color: $main-color;
                                            border-radius: 100px;
                                        }
                                    }

                                    &:hover {
                                        background-color: #d3d3d3;
                                    }

                                    @media screen and (max-width: 1200px) {
                                        display: block;
                                    }
                                }

                                &:hover {
                                    .card__button {
                                        display: block;
                                    }
                                }
                            }

                            @media screen and (max-height: 780px) {
                                max-height: 65vh;
                            }

                            @media screen and (max-height: 780px) {
                                max-height: 65vh;
                            }

                        }

                        .add__cards__button {
                            background-color: $main-color;
                            color: $font-color;

                            border-radius: 4px;

                            border: none;

                            padding: 10px;
                            width: 100%;

                            font-size: 13px;
                            text-align: center;
                            font-weight: 600;
                        }
                    }
                }

                // нужен чтобы мы не могли перетаскивать колонки, удерживая его в самом низу экрана
                @media screen and (max-width: 900px) {
                    height: fit-content;
                }
            }
        }

        .add_column {
            @include itemStyle(250px, none);

            min-width: 250px;

            color: whitesmoke;
            border-radius: 4px;
            cursor: pointer;
            background-color: $main-color;
            text-align: center;

            user-select: none;

            text-wrap: nowrap;
        }
    }
}

// стилизация для формы заполнения названия карточки или колонки
form {
    display: none;
    flex-direction: column;
    gap: 7px;

    input {
        background: #f3f3f3;

        border: none;
        border-radius: 4px;

        outline: none;

        width: initial;
        height: 35px;

        color: $grey-font-color;
        font-size: 16px;
    }

    .form-options {
        display: flex;
        gap: 10px;

        #cancel {
            font-size: 14px;
            padding: 7px;

            cursor: pointer;
        }

        #submit {
            border: none;
            border-radius: 4px;

            background-color: #f3f3f3;
            color: $grey-font-color;

            padding: 7px 15px;
            width: fit-content;

            font-size: 14px;

            cursor: pointer;
        }
    }
}

// стилизация меню для колонок и для карточек
.window__elem {
    position: absolute;

    display: flex;
    flex-direction: column;
    gap: 10px;

    // width: auto;
    width: 155px;

    padding: 8px;

    top: 5px;
    left: 90px;

    background-color: #fff;
    -webkit-box-shadow: 0px 12px 15px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 12px 15px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 12px 15px 5px rgba(34, 60, 80, 0.2);

    border-radius: 4px;

    z-index: 1;

    #delete {
        background-color: #d12c2c;
        color: #fffcfc;
    }

    .buttonStyle {
        position: relative;

        border-radius: 4px;

        font-size: 12px;
        font-weight: 600;

        padding: 8px;

        width: auto;

        outline: none;

        border: none;
        border-radius: 4px;

        color: #6a6a6a;
        background-color: #fff;

        text-align: left;

        cursor: pointer;

        &:hover {
            background-color: #f0f0f0;
        }
    }
}

.selected,
.choosen {
    opacity: 0.6;
}